.table-up {
  /* margin-top: -20px; */
}

#statusItem {
  float: left;
  margin-right: 10px;
}
.myClear {
  clear:both;
}
#summaString {
  font-size: 20px;
}
table {
  font-size: 10pt;
}
#statusItem{
  width:140px;
  margin-right: 0px;
  margin-left:  5px;
  font-size: 8pt;
}
